@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>_LayoutBookShop</title>
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="flex-box-header">
                <div class="home" onclick="window.location.href='http://localhost:63085/Main/GetOnePageOfBooks/'">Home</div>
                <div class="filter" onclick="test()">Filter</div>
                <div>Logout</div>
                <div>Help</div>
            </div>
        </div>
        <div class="menu">
            <div class="flex-box-menu">
                <div>Option1</div>
                <div>Option2</div>
                <div>Option3</div>
                <div>Option4</div>
            </div>
        </div>
        <div class="content">@RenderBody()</div>
        <div class="footer">Footer</div>
    </div>

    <div id="myModal2" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Some text in the Modal..</p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("GetAllBooksScript", required: false)
</body>
</html>

<script type="text/javascript">
    //$(document).ready()
    function test() {
        $("#myModal2").modal("toggle");
    }
</script>
