@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>_LayoutBookShop</title>
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="flex-box-header">
                <div class="home" onclick="window.location.href='@Url.Action("GetOnePageOfBooks", "Main")'">Home</div>
                <div class="filter" data-toggle="modal" data-target="#myModal">Filter</div>
                @*<div>Logout</div>
                <div>Help</div>*@
            </div>
        </div>
        <div class="menu">
            <div class="flex-box-menu">
                <div onclick="window.location.href='@Url.Action("GetBasketContent", "Basket")'">Basket(@ViewBag.BasketCount)</div>
            </div>
        </div>
        <div class="content">@RenderBody()</div>
        <div class="footer"><div class="footer-content">ASP.NET MVC</div></div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("GetAllBooksScript", required: false)
</body>
</html>

