@model List<BookStore.Models.Book>

@{
    ViewBag.Title = "GetAllBooks";
    Layout = "~/Views/Shared/_LayoutBookShop.cshtml";
}

<div><button class="btn btn-info" onclick="(window.location.href='http://localhost:63085/Main/AddBook')">AddBook</button></div>

@foreach (var book in @Model)
{
<div class="flex-box-content">
    <div>@book.Author.Name @book.Author.LastName</div>
    <div class="book-title">@book.Title</div>
    <div class="book-year">@book.Year</div>
    <div class="book-page-count">@book.PageCount</div>
    <div class="book-isbn">@book.ISBN</div>
    <div class="book-update"><button class="btn btn-warning btn-sm">Update</button></div>
    <div class="book-delete book-delete-new"><button class="btn btn-danger btn-sm">Delete</button></div>
    <div>-</div>
</div>
}

