@model List<BookStore.Models.Book>

@{
    ViewBag.Title = "GetAllBooks";
    Layout = "~/Views/Shared/_LayoutBookShop.cshtml";
}

<div><button class="btn btn-info" onclick="(window.location.href='http://localhost:63085/Main/AddBook')">AddBook</button></div>

@foreach (var book in @Model)
{
<div  id="books" class="flex-box-content">
    <div class="book-author">@book.Author.Name @book.Author.LastName</div>
    <div class="book-title">@book.Title</div>
    <div class="book-year">@book.Year</div>
    <div class="book-page-count">@book.PageCount</div>
    <div class="book-isbn">@book.ISBN</div>
    <div class="book-hardcover">@book.Hardcover</div>
    <div class="book-language">@book.Language.Name</div>
    <div class="book-update"><button class="btn btn-warning btn-sm" onclick="window.location.href='http://localhost:63085/Main/EditBook?id=@book.Id'">Edit</button></div>
    <div class="book-delete"><button data-book-id="@book.Id" class="btn btn-danger btn-sm js-delete">Delete</button></div>
</div>
}

@section GetAllBooksScript
{
    <script>
        $(document).ready(function () {
            $(".js-delete").on("click", function () {
                var button = $(this);

                if (confirm("Delete?")) {
                    $.ajax({
                        url: "/api/books/" + button.attr("data-book-id"),
                        method: "DELETE",
                        success: function () {
                            button.parent("div").parent("div").remove();
                        }
                    })
                }
            });
        });
    </script>
}

