@model BookStore.Models.ViewModels.MainView

@{
    ViewBag.Title = "GetAllBooks";
    Layout = "~/Views/Shared/_LayoutBookShop.cshtml";
}

<div class="book-filter">
    <button class="btn btn-info" onclick="window.location.href='@Url.Action("AddBook", "Main")'">AddBook</button>
</div>

@foreach (var book in @Model.BookList)
{
    <div id="books" class="flex-box-book book js-book">
        <div class="book-author">@book.Author.Name @book.Author.LastName</div>
        <div class="book-title">@book.Title</div>
        <div class="book-year">@book.Year</div>
        <div class="book-page-count">@book.PageCount</div>
        <div class="book-isbn">@book.ISBN</div>
        <div class="book-hardcover">@book.Hardcover</div>
        <div class="book-language">@book.Language.Name</div>
        <div class="book-update"><button class="btn btn-warning btn-sm" onclick="window.location.href='@Url.Action("EditBook", "Main", new { id = book.Id })'">Edit</button></div>
        <div class="book-delete"><button data-book-id="@book.Id" class="btn btn-danger btn-sm js-delete">Delete</button></div>
    </div>
}

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Filter books</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("FilterBooks", "Main", FormMethod.Get))
                {
                    <div class="form-group">
                        <label class="col-form-label" for="year">Release Date</label>
                        <input type="text" name="year" class="form-control" id="year" placeholder="1990-2000">
                        <small id="releaseDateHelp" class="form-text text-muted">Acceptable data 1980-2018</small>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="pageCount">Page Count</label>
                        <input type="text" name="pageCount" class="form-control" id="pageCount" placeholder="200-300">
                        <small id="releaseDateHelp" class="form-text text-muted">Acceptable data 1-2000</small>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="hardcover">Hardcover</label>
                        <div class="form-group">
                            <select class="custom-select" name="hardcover" id="hardcover">
                                <option></option>
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="language">Language</label>
                        <div class="form-group">
                            <select class="custom-select" name="language" id="language">
                                <option></option>
                                @foreach (var language in Model.Languages)
                                {
                                    <option>@language.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" onclick="saveSearch()">Submit</button>
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="addToBasketModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Add To Basket?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <button type="submit" class="btn btn-primary" onclick="addToBasket()">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="pagination pagination-custom"></div>


@section GetAllBooksScript
{
    <script>
        var bookId;

        $(document).ready(function () {
            $("#books .js-delete").on("click", function () {
                var button = $(this);

                if (confirm("Delete?")) {
                    $.ajax({
                        url: "/api/books/" + button.attr("data-book-id"),
                        method: "DELETE",
                        success: function () {
                            button.parent("div").parent("div").remove();
                        }
                    })
                }
            });
        });

        

        @*$(document).ready(function () {
            var pagesCount = parseInt((@Model.ListSize - 1) / 10 + 1);

            if (@Model.FilterOn.ToString().ToLower()) { 
                $(".pagination").append('<a class="page-link" href="@Url.Action("FilterBooks", "Main", new { pageNumber = 1 })"><<</a>');
                    for (i = 0; i < pagesCount; i++) {
                        $(".pagination").append('<a class="page-link" href="http://aspnetwebsitedemo.azurewebsites.net/Main/FilterBooks?pageNumber=' + (i + 1) + '">' + (i + 1) + '</a>');
                    }
                $(".pagination").append('<a class="page-link" href="http://aspnetwebsitedemo.azurewebsites.net/Main/FilterBooks?pageNumber=' + pagesCount + '">>></a>');
                } else {
                    $(".pagination").append('<a class="page-link" href="@Url.Action("GetOnePageOfBooks", "Main", new { pageNumber = 1 })"><<</a>');
                    for (i = 0; i < pagesCount; i++) {
                        $(".pagination").append('<a class="page-link" href="http://aspnetwebsitedemo.azurewebsites.net/Main/GetOnePageOfBooks?pageNumber=' + (i + 1) + '">' + (i + 1) + '</a>');
                    }
                $(".pagination").append('<a class="page-link" href="http://aspnetwebsitedemo.azurewebsites.net/Main/GetOnePageOfBooks?pageNumber=' + pagesCount + '">>></a>');
                }
        });*@

         $(document).ready(function () {
            var pagesCount = parseInt((@Model.ListSize - 1) / 10 + 1);

        if (@Model.FilterOn.ToString().ToLower()) {
            $(".pagination").append('<a class="page-link" href="@Url.Action("FilterBooks", "Main", new { pageNumber = 1 })"><<</a>');
            for (i = 0; i < pagesCount; i++) {
                $(".pagination").append('<a class="page-link" href="http://localhost:63085/Main/FilterBooks?pageNumber=' + (i + 1) + '">' + (i + 1) + '</a>');
            }
            $(".pagination").append('<a class="page-link" href="http://localhost:63085/Main/FilterBooks?pageNumber=' + pagesCount + '">>></a>');
        } else {
            $(".pagination").append('<a class="page-link" href="@Url.Action("GetOnePageOfBooks", "Main", new { pageNumber = 1 })"><<</a>');
            for (i = 0; i < pagesCount; i++) {
                $(".pagination").append('<a class="page-link" href="http://localhost:63085/Main/GetOnePageOfBooks?pageNumber=' + (i + 1) + '">' + (i + 1) + '</a>');
            }
            $(".pagination").append('<a class="page-link" href="http://localhost:63085/Main/GetOnePageOfBooks?pageNumber=' + pagesCount + '">>></a>');
        }
        });

        $(document).ready(function () {
            $(".book-author, .book-title, .book-year, .book-page-count, .book-isbn, .book-hardcover, .book-language").on("click", function() {
                $('#addToBasketModal').modal('toggle');
            });
        });

        $(document).ready(function () {
            $(".js-book").on("click", function () {
                bookId = $(this).children(".book-delete").children(".js-delete").attr("data-book-id");
            });
        });

        function addToBasket() {
            $.ajax({
                url: "/api/Basket/" + bookId,
                method: "PUT",
                success: function () {
                    $('#addToBasketModal').modal('toggle');
                    location.reload();
                }
            });
        }
    </script>
}